*{
	box-sizing:border-box;
	margin:0 auto;
}
body{
	background: url('../images/itenas2.jpg');
}
html,body{
	font-family:Helvetica;
}
.fa-user{
    color: #2c79c0;
    padding: 0 10px;
    position: relative;
    float: left;
}
.fa-hand-o-right{
	float:right;
}
form {
	top:60px;
	position:relative;
	width:100%;
	max-width:400px;
	background-color:#FFFFFF;
	border-radius:3px;
	box-shadow:0px 0px 3px black;
}
form h2 {
	padding:20px;
	border-bottom:2px solid #60a4e3;
	text-align:center;
}
.form-group{
	padding:5px 15px;
	display:block;
}
.input-mode{
	border:1px solid silver;
	border-radius:3px;
	font-size:15px;
	height:50px;
	padding:0 10px;
	display:block;
	width:100%;
}
.cek {
	padding:10px;
	display:inline-block;
	height:20px;
	width:20px;
}
.btn-submit{
	cursor:pointer;
	padding: 10px;
    height: 50px;
    width: 100%;
    display: block;
    background-color: #2c79c0;
    color: white;
    font-size: 20px;
    border: 2px solid #135592;
    border-radius: 2px;
}
.form-cek label{
	display:inline-block;
	padding:10px;
	line-height:10px;
}